@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#00704A;
    --black:#13131A;
    --bg:#010103;                                                                      
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #FFF;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #FFF;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.popup{
    width: 400px;
    background: #FFF;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    padding: 0 30px 30px;
    color: #333;

}

.back-button img{
    display: block;
    width: 20px;
    height: 20px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    margin-right: 20px;

}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: -1px; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #FFF;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #FFF;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

.header .cart-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 45rem;
    background: rgb(221, 221, 219);
    padding: 0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    padding: 2rem;
    background: #FFF;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content .product-title h3{
    font-size: 2.5rem;
    color:var(--black);
    padding-bottom: .5rem;
}


.header .cart-items-container .cart-item .content .size{
    font-size: 2rem;
    color:var(--main-color);
    padding: 1.5rem;
}

.header .cart-items-container .cart-item .content .quantity{
    display: inline-block;
    font-size: 2rem;
    color:var(--main-color);
    padding: 1.5rem;
}

.cart-quantity {
    border: 1px solid black;
    outline-color : var(--main-color);
    width: 5.4rem;
    text-align : center;
    font-size: 2rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 2rem;
    color:var(--main-color);
    padding: 1.5rem;
}

.header .cart-items-container .total{
    display: flex;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.header .cart-items-container .total .total-price{
    width: 200px;
    font-size: 2rem;
    color:var(--black);
    padding-left: 2rem;
    padding-bottom: .5rem;
}

.header .cart-items-container .total .price{
    font-size: 2rem;
    color: #00704A;
}

.final-price {
    display: inline-block;
    width: 100%;
    text-align: end;
    font-size: 2rem;
    color: #00704A;
    padding-right: 2rem;
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.espresso {
   padding-top: 100px;
}

.espresso .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.espresso .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.espresso .box-container .box img{
    height: 10rem;
}

.espresso .box-container .box h3{
    color: #FFF;
    font-size: 2rem;
    padding: 1rem 0;
}

.espresso .box-container .box .price{
    color: #FFF;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.espresso .box-container .box:hover{
    background: #FFF;
}

.espresso .box-container .box:hover > *{
    color: var(--black);
}

.popup{
    width: 400px;
    background: #FFF;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 30px 30px;
    color: #333;
    display: none;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

.popup .fa-times {
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.popup img{
    height: 20rem;
    text-align: center;
}

.popup h2{
    font-size: 38px;
    font-weight: 400;
    margin: 30px 0 10px;
    text-align: left;
}
.popup p{
    color: #010103;
    font-size: 2rem;
    padding: 1rem 0;
    text-align: left;
}

.popup .variation{
    font-size: 2rem;
    padding: 1rem 1rem;
    text-align: left;
}

.popup .choice-espresso{
    font-size: 2rem;
    padding: 1rem 1rem;
    text-align: left;
}

.popup .milk {
    font-size: 2rem;
    padding: 1rem 1rem;
    text-align: left;
}

.popup .specialInstruction{
    width: 100%;
    padding: 12px 1rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.popup .specialInstruction .instruction {
    text-align: left;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: var(--main-color);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.frappucino .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.frappucino .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.frappucino .box-container .box img{
    height: 10rem;
}

.frappucino .box-container .box h3{
    color: #FFF;
    font-size: 2rem;
    padding: 1rem 0;
}

.frappucino .box-container .box .price{
    color: #FFF;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.frappucino .box-container .box:hover{
    background: #FFF;
}

.frappucino .box-container .box:hover > *{
    color: var(--black);
}

.chocolate .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.chocolate .box-container .box{
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.chocolate .box-container .box img{
    height: 10rem;
}

.chocolate .box-container .box h3{
    color: #FFF;
    font-size: 2rem;
    padding: 1rem 0;
}

.chocolate .box-container .box .price{
    color: #FFF;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.chocolate .box-container .box:hover{
    background: #FFF;
}

.chocolate .box-container .box:hover > *{
    color: var(--black);
}

.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}

.container{
    width: 100%;
    height: 100vh;
    background: #3c5077;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* media queries */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: #FFF;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

